

#------------------------------------------------------------------------------
@example
@url https://www.youtube.com/watch?v=yxAOpKFR0gE

Федор, привет! Я француз и, первый раз я был в Москве, я думал, что русские будут "брутальные"))) (как ты говоришь) Много русские говорят, что они не улыбаются на улице. Только с друзьями. Но это как во Франции!!!))) Если я не знаю люди, потчему я буду улыбаться? Люди меня нашли бы странным. Мы улыбаемся людям, что мы знаем, к друзьям. Поэтому, я не нашел русские "брутальные", просто "нормальные")))

Я работаю в Канаде и в России. Канадцы очень близки американцы, думаю. Они всегда улыбаются, они столько сливаются люди, даже те, которые они не знают... Но, мои коллеги канадцы не пригласили меня у них только после 5 лет работы вместе: все дни улыбку, но иностранец остается расстояние!
В Москве, мои коллеги меня тепло приветствовали, менее буйный, чем в Канаде, но более искренней. И три дня после, мы были друзьями: они пригласили меня домой, мы делили моменты, как друзья, смеяться, рассказывать о нашей жизни, и т.д. Это не имело ничего общего!!!! Я обожаю!!!

Конечно, я не знаю американцев, но только канадцев. Мое впечатление, что люди - более "нормальные" в России, более честным (в эмоцией). Во Франции, люди всегда очень серьезно, очень волнует внешность и их эго. Трудно знать, если "друг" действительно друг, или он только хочет спросить что-нибудь... Французы не улыбался, как канадцы, и они столь же настороженно. Это не приятно!))) Поэтому, я считаю, что русские имеют правильный способ сделать: серьезно, в начале, и потом теплый, "друзья для жизни", когда мы дружим. Это то, что я люблю)))

И, к счастью, я думаю, что есть люди, как это во всех странах мира (там, я говорил о виду, об общем ощущение страны). До скорого и спасибо за все твои видео!﻿

#------------------------------------------------------------------------------

